<%# resource_cache(@project) do %>
  <article class="project">
    <%= render "carousel", :images => @project.images %>
    <div class="project-header">
      <h1 class="project-title"><%= @project.title %></h1>
      <div class="project-body">
        <%= raw(@project.body) %>
        <%= link_to("Visitez le site de l'hôtel", @project.website, :target => :blank) if @project.website %>
      </div>
    </div>
    <div class="share-project">
      <span class="share"><%= raw("#{t(:"custom.share")}:&nbsp;") %></span>
      <span class="socials">
        <a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),'facebook-share-dialog','width=626,height=436');return false;"><i class="icon ion-social-facebook"></i></a>
        <a href="https://twitter.com/share" data-lang="fr" target="_blank"><i class="icon ion-social-twitter"></i></a>
      </span>
    </div>
  </article>
<%# end %>
